## Ex: 5.1 Performing Basic Statistical Analyses and Computing Summary Statistics

- **Objective**: Analyze the World Happiness Data by performing basic statistical analyses and computing summary statistics

- **Requires data files: `WHR2018Chapter2OnlineData.xls`**
- **Requires image file: `appendix4.png`**

- **Demonstrates**:
    - Using `pandas` to compute some summary statistics of the WHR data.

---

Execute the following code cells to load and reconfigure the data.

In [1]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [3]:
dfraw = pd.read_excel('WHR2018Chapter2OnlineData.xls', sheet_name='Table2.1')

In [4]:
cols_to_include = ['country', 'year', 'Life Ladder', 
                   'Positive affect','Negative affect',
                   'Log GDP per capita', 'Social support',
                   'Healthy life expectancy at birth', 
                   'Freedom to make life choices', 
                   'Generosity', 'Perceptions of corruption']

df = dfraw[cols_to_include]

### Step 1

In the code cell below, call the ```info``` method on the dataframe ```df``` to see what the dataframe consists of.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1562 entries, 0 to 1561
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           1562 non-null   object
 1   year                              1562 non-null   int64
 2   Life Ladder                       1562 non-null   float64
 3   Positive affect                   1544 non-null   float64
 4   Negative affect                   1550 non-null   float64
 5   Log GDP per capita                1535 non-null   float64
 6   Social support                    1549 non-null   float64
 7   Healthy life expectancy at birth  1553 non-null   float64
 8   Freedom to make life choices      1533 non-null   float64
 9   Generosity                        1482 non-null   float64
 10  Perceptions of corruption         1472 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 134.4+ KB

### Step 2

The ```describe``` method on a dataframe provides a useful statistical summary of the data.  In the code cell below, enter an expression to call this method and examine the output.

In [6]:
df.describe()

,year,Life Ladder,Positive affect,Negative affect,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
count,1562.00,1562.00,1544.00,1550.00,1535.00,1549.00,1553.00,1533.00,1482.00,1472.00
mean,2011.82,5.43,0.71,0.26,9.22,0.81,62.25,0.73,0.00,0.75
std,3.42,1.12,0.11,0.08,1.18,0.12,7.96,0.15,0.16,0.19
min,2005.00,2.66,0.36,0.08,6.38,0.29,37.77,0.26,-0.32,0.04
25%,2009.00,4.61,0.62,0.20,8.31,0.75,57.30,0.63,-0.11,0.70
50%,2012.00,5.33,0.72,0.25,9.40,0.83,63.80,0.75,-0.02,0.81
75%,2015.00,6.27,0.80,0.31,10.19,0.90,68.10,0.84,0.09,0.88
max,2017.00,8.02,0.94,0.70,11.77,0.99,76.54,0.99,0.68,0.98

Let's look at the output above and compare it with data presented in Table 4 of [Appendix 1 of the 2018 World Happiness Report](https://s3.amazonaws.com/happiness-report/2018/Appendix1ofChapter2.pdf).  Here is Table 4 reproduced from that report:

<img src='appendix4.png' width=1050 height=550 align="left"/>

Imagine that you were asked to produce a table of this form from the underlying data.  Let's see what is required to get our summary data to resemble Table 4.

### Step 3.

The first thing you'll notice is that the orientation of the table is different from that produced by ```df.describe```, with data categories listed in rows and summary statistics in the columns.  One easy way to reorient the data produced by ```describe``` is to look at the <i>transpose</i> of the data, that is, what one gets when rows and columns are swapped.

The transpose of a dataframe can be accessed simply by accessing the attribute named ```.T``` on the dataframe.  Note that ```T``` is not a method that is called, so it is not followed by parentheses.  Instead, it is a static attribute of the dataframe that can be accessed through that name.

In the code cell below, write and evaluate an expression to return the transpose of the summary description provided by ```describe```.

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,1562.00,2011.82,3.42,2005.00,2009.00,2012.00,2015.00,2017.00
Life Ladder,1562.00,5.43,1.12,2.66,4.61,5.33,6.27,8.02
Positive affect,1544.00,0.71,0.11,0.36,0.62,0.72,0.80,0.94
Negative affect,1550.00,0.26,0.08,0.08,0.20,0.25,0.31,0.70
Log GDP per capita,1535.00,9.22,1.18,6.38,8.31,9.40,10.19,11.77
Social support,1549.00,0.81,0.12,0.29,0.75,0.83,0.90,0.99
Healthy life expectancy at birth,1553.00,62.25,7.96,37.77,57.30,63.80,68.10,76.54
Freedom to make life choices,1533.00,0.73,0.15,0.26,0.63,0.75,0.84,0.99
Generosity,1482.00,0.00,0.16,-0.32,-0.11,-0.02,0.09,0.68
Perceptions of corruption,1472.00,0.75,0.19,0.04,0.70,0.81,0.88,0.98

### Step 4.

This is looking a bit more like Table 4, although there is some extraneous information that we can remove using the ```drop``` method on a dataframe.  We can also rename the quantities produced by ```df.describe``` to make them appear as in Table 4.

```df.drop``` can specify one or more labels to drop, as well as an axis along which to drop.  For our summary data, we'd like to drop the row labeled 'year' and the columns labeled by '25%', '50%', and '75%', since they are not included in Table 4.

In the code cell below, we define a dictionary for the column renaming, and a list defining the column order for the finished table.  In the code cell below that, code has been written to evaluate the following:

* From the transposed summary data, drop the row labeled 'year'.
* From the resulting dataframe, drop the columns labeled '25%', '50%', and '75%'.
* Using the `rename` method on the resulting dataframe, rename the columns according to the mapping defined in ```column_renaming```. 
* Select out the columns in the list defined by ```column_order``` and assign the resulting dataframe to the variable ```dfsummary```.

Examine new ```dfsummary``` dataframe and compare it to Table 4.

In [17]:
column_renaming = {'count': 'N', 'mean': 'Mean', 'std': 'Std. Dev.', 'min': 'Min.', 'max': 'Max.'}
column_order = ['Mean', 'Std. Dev.', 'Min.', 'Max.', 'N']

In [18]:
drop_year = df.describe().T.drop(labels='year').drop(columns = ['25%', '50%', '75%'], axis=1).rename(column_renaming, axis=1)
dfsummary = drop_year[column_order]
dfsummary

                                  Mean  Std. Dev.  Min.  Max.       N
Life Ladder                       5.43       1.12  2.66  8.02 1562.00
Positive affect                   0.71       0.11  0.36  0.94 1544.00
Negative affect                   0.26       0.08  0.08  0.70 1550.00
Log GDP per capita                9.22       1.18  6.38 11.77 1535.00
Social support                    0.81       0.12  0.29  0.99 1549.00
Healthy life expectancy at birth 62.25       7.96 37.77 76.54 1553.00
Freedom to make life choices      0.73       0.15  0.26  0.99 1533.00
Generosity                        0.00       0.16 -0.32  0.68 1482.00
Perceptions of corruption         0.75       0.19  0.04  0.98 1472.00

### Step 5

You may notice that one lingering point of discrepancy between the summary dataframe you've produced and the WHR Table 4 is that the number of counts ```N``` in Table 4 is reported as an integer, whereas it is a floating point number in our summary dataframe.  We can alter the type of that column with the code in the following cell.  Execute the code cell below.

In [19]:
dfsummary['N'] = dfsummary['N'].astype(int)
dfsummary

                                  Mean  Std. Dev.  Min.  Max.     N
Life Ladder                       5.43       1.12  2.66  8.02  1562
Positive affect                   0.71       0.11  0.36  0.94  1544
Negative affect                   0.26       0.08  0.08  0.70  1550
Log GDP per capita                9.22       1.18  6.38 11.77  1535
Social support                    0.81       0.12  0.29  0.99  1549
Healthy life expectancy at birth 62.25       7.96 37.77 76.54  1553
Freedom to make life choices      0.73       0.15  0.26  0.99  1533
Generosity                        0.00       0.16 -0.32  0.68  1482
Perceptions of corruption         0.75       0.19  0.04  0.98  1472

### Step 6

Appendix 1 of the WHR presents several tables similar to Table 4, for different intervals of years, in order to examine how the summary statistics have changed over time.  In the code cells above, we executed several steps to produce a summary dataframe of the desired form.  Since we will want to produce different summary tables for different intervals of years, we can bundle up all the data processing steps above into a new <b>function</b> that we can call, by passing in different dataframes as input to the function.  If we wanted to get summary statistics for just a subset of years, we could create a new dataframe by filtering the full dataset just for those years, and then pass the new dataframe to our function.

In the code cell below, write a <b>function</b> named ```produce_summary_table``` that takes a dataframe as an argument (i.e `produce_summary_table(df)`) and returns a <b>summary dataframe</b>. 

* The input <b>dataframe</b> should be derived from the WHR2018Chapter2OnlineData.xls Table 2.1 data we've been working with.

* The returned <b>summary dataframe</b> should be in the same form as Table 4 above. 

* In writing this function, you should include all of the steps we took in Steps 4 and 5 above to achieve the final result; you will also want to pull in the code above that defines the variables ```column_renaming``` and ```column_order```.

In [24]:
def produce_summary_table(df):
    column_renaming = {'count': 'N', 'mean': 'Mean', 'std': 'Std. Dev.', 'min': 'Min.', 'max': 'Max.'}
    column_order = ['Mean', 'Std. Dev.', 'Min.', 'Max.', 'N']
    drop_year = df.describe().T.drop(labels='year').drop(columns = ['25%', '50%', '75%'], axis=1).rename(column_renaming, axis=1)
    dfsummary = drop_year[column_order]
    dfsummary['N'] = dfsummary['N'].astype(int)
    return dfsummary
    
summary_tables = produce_summary_table(df)
summary_tables

                                  Mean  Std. Dev.  Min.  Max.     N
Life Ladder                       5.43       1.12  2.66  8.02  1562
Positive affect                   0.71       0.11  0.36  0.94  1544
Negative affect                   0.26       0.08  0.08  0.70  1550
Log GDP per capita                9.22       1.18  6.38 11.77  1535
Social support                    0.81       0.12  0.29  0.99  1549
Healthy life expectancy at birth 62.25       7.96 37.77 76.54  1553
Freedom to make life choices      0.73       0.15  0.26  0.99  1533
Generosity                        0.00       0.16 -0.32  0.68  1482
Perceptions of corruption         0.75       0.19  0.04  0.98  1472

### Step 7

Appendix 1 of the WHR presents similar summary tables for different groups of years, including the following:

* 2005-2007: Table 5

Reproduce this table by creating a new dataframe that filters out the subset of the data in the specified years, as was discussed above in Step 6.  To perform this extraction, use the ```isin``` method on a dataframe or series, which can be used to select those entries which are contained within a specified set of values.  For example, the expression ```df[df.year.isin(range(1900,2000))]``` would return a new dataframe containing all rows of ```df``` that had a year between 1900 and 1999.

In the empty code cell below, do the following:<br>
Create one new dataframe for the year range associated with Table 5 by extracting the appropriate set of years. Using the function you wrote above, create a summary table for the dataframe (your function takes a dataframe as input). Assign the resulting summary table to the name ```dfsummary0507```.

In [27]:
def produce_summary_table(df):
    column_renaming = {'count': 'N', 'mean': 'Mean', 'std': 'Std. Dev.', 'min': 'Min.', 'max': 'Max.'}
    column_order = ['Mean', 'Std. Dev.', 'Min.', 'Max.', 'N']
    drop_year = df.describe().T.drop(labels='year').drop(columns = ['25%', '50%', '75%'], axis=1).rename(column_renaming, axis=1)
    dfsummary = drop_year[column_order]
    dfsummary['N'] = dfsummary['N'].astype(int)
    return dfsummary
    
summary_tables = produce_summary_table(df[df.year.isin(range(2005,2008))])
summary_tables

                                  Mean  Std. Dev.  Min.  Max.    N
Life Ladder                       5.46       1.12  3.20  8.02  218
Positive affect                   0.72       0.10  0.43  0.89  216
Negative affect                   0.25       0.07  0.09  0.47  216
Log GDP per capita                9.13       1.19  6.49 11.47  218
Social support                    0.83       0.11  0.44  0.98  216
Healthy life expectancy at birth 60.85       8.67 37.77 74.28  218
Freedom to make life choices      0.72       0.15  0.28  0.97  212
Generosity                        0.01       0.17 -0.32  0.49  184
Perceptions of corruption         0.77       0.18  0.06  0.98  206